/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #1a1a1a;
    color: #00ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

header .logo {
    width: 100px; /* Adjust the size as needed */
    margin-top: 20px;
}

header h1 {
    font-size: 3em;
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
    margin-top: 20px; /* Adjust to position the text below the logo */
}

nav {
    margin: 20px 0;
}

nav a {
    color: #00ff00;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 15px;
    transition: color 0.3s, text-shadow 0.3s;
}

nav a:hover {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
}

main {
    text-align: center;
    padding: 20px;
}

h2 {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
}

p {
    margin: 20px 0;
    font-size: 1.2em;
}

a {
    color: #00ff00;
    text-decoration: underline;
    transition: color 0.3s;
}

a:hover {
    color: #ff0000;
}

footer {
    color: #808080;
    margin-top: auto;
    padding: 20px;
}
